.btn {
  border: 2px solid var(--CLR-PRIMARY);
  border-radius: 3em;
  width: fit-content;
  background-color: var(--CLR-PRIMARY);
  color: var(--CLR-LINKS);
  font-weight: 700;
  text-wrap: nowrap;
  text-align: center;
  padding: 1em;
  font-size: clamp(1em, 2vw, 3em);
  box-shadow: 1px 1px 6px 5px;
}

.btn:hover, .btn:focus {
  color: var(--CLR-LINK-HOVER);
}

a {
  text-decoration: none;
  display: block;
  color: var(--CLR-LINKS);
  cursor: pointer;
}

img {
  display: block;
  position: absolute;
  max-width: 1500px;    
  z-index: -3;
}

ul {
  list-style-type: none;
}